* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Domine', serif;
      font-family: 'Lato', sans-serif;
}

img {
      width: 40px;
}

/* Stylisation HEADER */

.buttonNewGame {
      display: block;
      margin: auto;
      margin-top: 50px;
}

.newGame {
      width: 250px;
      display: flex;
}

/* Stylisation Partie Principal */

.mainGame {
      height: 400px;
      padding-top: 50px;
      display: flex;
      justify-content: space-evenly;
}

/* Stylisation Joueurs */

.playerStyle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
}

.score {
      font-size: 30px
}

.score p {
      color: rgb(215, 157, 168);
      padding-top: 20px;
}

.scoreEnCours {
      border: 1px solid rgb(235, 77, 76);
      background-color: rgb(235, 77, 76);
      padding-top: 20px;
      padding-bottom: 10px;
}

.scoreEnCoursBlanc {
      color: white;
      padding-top: 10px;
}

/* Stylisation Lancé de Dé */

.mainCentral {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.diceOne {
      width: 75px;
      padding-top: 50px;
}

.boutonJeu {
      position: relative;
}

.boutonLancerDe {
      display: flex;
      align-items: center;
      border: 1px solid rgb(235, 77, 76);
}

.boutonLancerDe:hover {
      background-color: rgb(235, 77, 76);
      color: white;
}

.valider {
      padding-left: 10px;
      padding-right: 11px;
}